<IfModule mod_expires.c>
  ExpireActif le

  # Images
  ExpiresByType image / jpeg "10 minutes"
  ExpiresByType image / gif "10 minutes"
  ExpiresByType image / png "10 minutes"
  ExpiresByType image / webp "10 minutes"
  ExpiresByType image / svg + xml "10 minutes"
  ExpiresByType image / x-icon "10 minutes"

  # Vidéo
  ExpiresByType video / mp4 "10 minutes"
  ExpiresByType video / mpeg "10 minutes"

  # CSS, JavaScript
  ExpiresByType text / css "10 minutes"
  ExpiresByType texte / javascript "10 minutes"
  ExpiresByType application / javascript "10 minutes"

  # Autres
  ExpiresByType application / pdf "10 minutes"
  ExpiresByType application / x-shockwave-flash "10 minutes"
</IfModule>